<section class="contact">
  <h3>Contact</h3>
  <p>General: communicatie-fdmci@hva.nl <br>
  Media: nina@iinii.nl</p>
  <ul class="share-buttons">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Foutburst.amsterdam&quote=Outburst%20Amsterdam" title="Share on Facebook" target="_blank"><img alt="Share on Facebook" src="/static/img/social/Facebook.png" /></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=http%3A%2F%2Foutburst.amsterdam&text=Outburst%20Amsterdam:%20http%3A%2F%2Foutburst.amsterdam" target="_blank" title="Tweet"><img alt="Tweet" src="/static/img/social/Twitter.png" /></a></li>
  <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=http%3A%2F%2Foutburst.amsterdam&title=Outburst%20Amsterdam&summary=&source=http%3A%2F%2Foutburst.amsterdam" target="_blank" title="Share on LinkedIn"><img alt="Share on LinkedIn" src="/static/img/social/LinkedIn.png" /></a></li>
</ul>
</p>
</section>
