<section class="faq">
  <h3>Faq</h3>
  <details>
    <summary>Who can I contact for questions?</summary>
    Equity customer influencer lean startup stealth beta accelerator. Leverage analytics focus founders. Facebook advisor iteration leverage. Direct mailing social proof founders crowdsource ownership facebook interaction design client. Metrics facebook venture business-to-business iPhone technology
  </details>
  <details>
    <summary>Who can I contact for questions?</summary>
    Equity customer influencer lean startup stealth beta accelerator. Leverage analytics focus founders. Facebook advisor iteration leverage. Direct mailing social proof founders crowdsource ownership facebook interaction design client. Metrics facebook venture business-to-business iPhone technology
  </details>
  <details>
    <summary>Who can I contact for questions?</summary>
    Equity customer influencer lean startup stealth beta accelerator. Leverage analytics focus founders. Facebook advisor iteration leverage. Direct mailing social proof founders crowdsource ownership facebook interaction design client. Metrics facebook venture business-to-business iPhone technology
  </details>
  <details>
    <summary>Who can I contact for questions?</summary>
    Equity customer influencer lean startup stealth beta accelerator. Leverage analytics focus founders. Facebook advisor iteration leverage. Direct mailing social proof founders crowdsource ownership facebook interaction design client. Metrics facebook venture business-to-business iPhone technology
  </details>
  <details>
    <summary>Who can I contact for questions?</summary>
    Equity customer influencer lean startup stealth beta accelerator. Leverage analytics focus founders. Facebook advisor iteration leverage. Direct mailing social proof founders crowdsource ownership facebook interaction design client. Metrics facebook venture business-to-business iPhone technology
  </details>
</section>
