<header>
  <div class="left">
    {% include 'blocks/logo.njk' %}
    <span class="display">
      Un-<br>l<i>e</i>ash<br>
      Cre-<br>
      a<i>t</i>ivity
    </span>
  </div>
  <div class="right">
    <time datetime="2019-01-07">July 1-5</time>
    <h1>Outburst <br>Amsterdam</h1>
    <h2>Celebrating our best student work in fashion, digital interactive design, communication and ICT.</h2>
  </div>
</header>
