<header>
  <time datetime="2019-01-07">July 1-5</time>
  <h1>Outburst <br>Amsterdam</h1>
  <h2>Celebrating our best student work in fashion, digital interactive design, communication and ICT.</h2>
</header>
