<section class="info">
  <h3>Info</h3>
  <p>Outburst will take place from the 1st through the 5th of July 2019 at the Amsterdam University of Applied Sciences. There will be an interactive exhibition in a sculpture of Architects of Air with a variety of activities and the possibility for everyone to visit the interactive exhibition by themselves.</p>
</section>
