<blockquote cite="https://outburst.amsterdam">
  <p>IMPROVING SOCIETY WITH CREATIVITY, TECHNOLOGY AND KNOWLEDGE</p>
</blockquote>
<section class="info">
  <h3>Info</h3>
  <p>Outburst Amsterdam is an inititative by the Faculty of Digital Media and Creative Industry, Hogeschool van Amsterdam. Outburst Amsterdam positions itself as the annual showcase of examples where creativity, techno-logy and knowledge meet to help improve socie-ty. The ambition is to be the number one go to place in The Netherlands on this topic.</p>
  <a href="/about" class="btn">About the event</a>
</section>
