<section class="locations">
  <div class="container-block">
    <h3>Locations</h3>
    <p>All events are all around the Amstel Campus. Not sure where to go? Have a look at the map and legend witl all locations and directions on how to get there.</p>
    <a href="/locations" class="btn">All locations</a>
  </div>
</section>
