<section class="locations">
  <h3>Locations</h3>
  <p>All events are all around the Amstel Campus. Not sure where to go? Have a look at all locations and how to get there.</p>
  <a href="/about" class="btn">All locations</a>
</section>
