<section class="program">
<div class="container-block">
  <h3>Program</h3>
  <p>There is a program throughout the week with a variety of activities and the possibility for everyone to visit the interactive exhibition by themselves.</p>
  <a href="/program" class="btn">Full program</a>
</div>
</section>
<blockquote cite="https://outburst.amsterdam">
  <p>IMPROVING SOCIETY WITH CREATIVITY, TECHNOLOGY AND KNOWLEDGE</p>
</blockquote>
