<article>
  <img src="/static/img/showcase.png">
  <h4>Title</h4>
  <time datetime="2018-07-07">July 1th</time>
  <p>The Digital Transformation Designers of the Digital Society School will show and tell about their work.</p>
</article>
