<article>
  <a href="{{ showcase.showcase.showcase1.link }}">
    <img src="{{ showcase.showcase.showcase1.img }}">
    <h4>{{ showcase.showcase.showcase1.title }}</h4>
    <time datetime="2018-07-07">{{ showcase.showcase.showcase1.date }}</time>
    <p>{{ showcase.showcase.showcase1.description }}</p>
  </a>
</article>
<article>
  <a href="{{ showcase.showcase.showcase2.link }}">
    <img src="{{ showcase.showcase.showcase2.img }}">
    <h4>{{ showcase.showcase.showcase2.title }}</h4>
    <time datetime="2018-07-07">{{ showcase.showcase.showcase2.date }}</time>
    <p>{{ showcase.showcase.showcase2.description }}</p>
  </a>
</article>
<article>
  <a href="{{ showcase.showcase.showcase3.link }}">
    <img src="{{ showcase.showcase.showcase3.img }}">
    <h4>{{ showcase.showcase.showcase3.title }}</h4>
    <time datetime="2018-07-07">{{ showcase.showcase.showcase3.date }}</time>
    <p>{{ showcase.showcase.showcase3.description }}</p>
  </a>
</article>
<article>
  <a href="{{ showcase.showcase.showcase4.link }}">
    <img src="{{ showcase.showcase.showcase4.img }}">
    <h4>{{ showcase.showcase.showcase4.title }}</h4>
    <time datetime="2018-07-07">{{ showcase.showcase.showcase4.date }}</time>
    <p>{{ showcase.showcase.showcase4.description }}</p>
  </a>
</article>
<article>
  <a href="{{ showcase.showcase.showcase5.link }}">
    <img src="{{ showcase.showcase.showcase5.img }}">
    <h4>{{ showcase.showcase.showcase5.title }}</h4>
    <time datetime="2018-07-07">{{ showcase.showcase.showcase5.date }}</time>
    <p>{{ showcase.showcase.showcase5.description }}</p>
  </a>
</article>
<article>
  <a href="{{ showcase.showcase.showcase6.link }}">
    <img src="{{ showcase.showcase.showcase6.img }}">
    <h4>{{ showcase.showcase.showcase6.title }}</h4>
    <time datetime="2018-07-07">{{ showcase.showcase.showcase6.date }}</time>
    <p>{{ showcase.showcase.showcase6.description }}</p>
  </a>
</article>


