<article>
  <img src="{{ showcase.showcase.showcase1.img }}">
  <h4>{{ showcase.showcase.showcase1.title }}</h4>
  <time datetime="2018-07-07">{{ showcase.showcase.showcase1.date }}</time>
  <p>{{ showcase.showcase.showcase1.description }}</p>
</article>
<article>
  <img src="{{ showcase.showcase.showcase2.img }}">
  <h4>{{ showcase.showcase.showcase2.title }}</h4>
  <time datetime="2018-07-07">{{ showcase.showcase.showcase2.date }}</time>
  <p>{{ showcase.showcase.showcase2.description }}</p>
</article>
<article>
  <img src="{{ showcase.showcase.showcase3.img }}">
  <h4>{{ showcase.showcase.showcase3.title }}</h4>
  <time datetime="2018-07-07">{{ showcase.showcase.showcase3.date }}</time>
  <p>{{ showcase.showcase.showcase3.description }}</p>
</article>
<article>
  <img src="{{ showcase.showcase.showcase4.img }}">
  <h4>{{ showcase.showcase.showcase4.title }}</h4>
  <time datetime="2018-07-07">{{ showcase.showcase.showcase4.date }}</time>
  <p>{{ showcase.showcase.showcase4.description }}</p>
</article>


