<div class="hva-block hva-block-dark">
    <img src="/static/img/hva-logo-dark.svg" alt="AUAS branding">
    <span class="img-divider">|</span>
    <span class="img-title">Outburst Amsterdam</span>
  </div>
