<ul class="locations">
  <li><strong>Dome:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/theo-thijssen-building.html">Theo Thijssen Square</a></li>
  <li><strong>Dome2:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/theo-thijssen-building.html">Theo Thijssen Square</a></li>
  <li><strong>AoA:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/kohnstamm-building.html">Kohnstamm building</a> </li>
  <li><strong>Theatre 1:</strong>	<a href="http://www.amsterdamuas.com/locations/hva-locations/kohnstamm-building.html">Kohnstamm building</a></li>
  <li><strong>Theatre 2:</strong>	<a href="http://www.amsterdamuas.com/locations/hva-locations/kohnstamm-building.html">Kohnstamm building</a></li>
  <li><strong>Beyet:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/kohnstamm-building.html">Kohnstamm building</a></li>
  <li><strong>Kohnstamm House Arena:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/kohnstamm-building.html">Kohnstamm building</a> </li>
  <li><strong>DSS: Studio HvA:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/no-lesson-locations/studio-hva.html?origin=70GMF5SRSdSq84xbw2MUIw">Studio HvA</a> </li>
  <li><strong>Plein:</strong> <a href="http://www.amsterdamuas.com/locations/hva-locations/theo-thijssen-building.html">Theo Thijssen Square</a> </li>
</ul>
