<nav>
  {% include 'components/hva-block-light.njk' %}
  <ul>
    <li><a href="/">Showcase</a></li>
    <li><a href="/locations">Locations</a></li>
    <li><a href="/program">Program</a></li>
  </ul>
</nav>
