header .hva-block {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: $p-l;
}

.hva-block {
  display: flex;
  align-items: center;

  .img-divider {
    margin: 0 $p-m;
  }

  .img-title {
    font-family: 'Cocogoose-Condensed', sans-serif;
    text-transform: uppercase;
  }

  &-light {
    color: $secondary;
  }
}


