nav {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  height: 5vh;
  background: $primary;

  ul {
    display: flex;
    @mixin reset-list;

    li {
      margin-right: 2em;
      color: $secondary;
    }
  }
}
