.background {
  img:nth-child(1) {
    position: absolute;
    top: 40%;
    right: -10%;
    transform: scale(2);
    opacity: 0.05;
  }

  img:nth-child(2) {
    position: absolute;
    top: 120%;
    left: -10%;
    transform: scale(1.8);
    opacity: 0.05;
  }
}
