header {
  display: flex;
  align-items: center;
  margin-bottom: 5vh;
}

.left {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 50%;
}

.right {
  text-align: right;
  width: 50%;
}

header h1 {
  font-size: 4.209em;
  line-height: 1;
}

header h2 {
  font-family: 'Cocogoose-Pro-Light', sans-serif;
  font-size: 1.3em;
}

header time {
  font-family: 'Cocogoose-Condensed', sans-serif;
  font-size: 2.3em;
  color: $primary;
}

.left span {
  position: absolute;
}

.display {
  font-family: 'Cocogoose-Condensed', sans-serif;
  font-size: 5vw;
  line-height: 0.8;
  color: $primary;
  text-transform: uppercase;
  margin-left: 8vw;
}

.dynamic-logo {
  transform: scale(1.2);
}

.font-light {
  font-family: 'Cocogoose-Pro-Light', sans-serif;
  font-size: 3rem;
}
