header {
  text-align: right;
}

header h2 {
  font-family: 'Cocogoose-Pro-Light', sans-serif;
}

header time {
  font-family: 'Cocogoose-Condensed', sans-serif;
  font-size: 2.3em;
  color: $primary;
}
