.program {
  padding: 5vh;
  height: 40vh;
  background: url('/static/img/program.jpg') no-repeat center center;
  background-size: cover;
}

.locations {
  display: flex;
  justify-content: flex-end;
  padding: 5vh;
  height: 40vh;
  background: url('https://assets-cdn-folia.boondrive.com/1240x698/_old/2011/11/Plein-Kohstamm-en-Theo-Thijssenhuis-11nov11-Klein.jpg') no-repeat center center;
  background-size: cover;
}
