.container {
  grid-column: 2 / -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.showcase {
  background-color: $primary;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5vh 0;
}
