.container {
  grid-column: 2 / -2;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.showcase {
  background-color: $primary;
  background-image: url('/static/img/logo-light.svg'), url('/static/img/logo-light.svg');
  background-position: -15% -20%, 110% 115%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 5vh 0;
}
