---
layout: layouts/detail
permalink: /about/
---

<h1>About</h1>

<p>Outburst will take place from the 1st through the 5th of July 2019 the Kohnstamm-huis/ Amsterdam University of Applied Sciences. There will be an interactive exhibition in a sculpture of Architects of Air, a luminarium people enter to be moved to a sense of wonder at the beauty of light and colour. The exhibition within is showcasing some of the most outstanding projects. Furthermore, there is a program throughout the week with a variety of activities and the possibility for everyone to visit the interactive exhibition by themselves.</p>

<h2> Contact </h2>
<ul>
  <li>communicatie-fdmci@hva.nl</li>
  <li>nina@iinii.nl</li>
</ul>
