---
layout: layouts/detail
permalink: /locations/
---

<h1> Locations </h1>

<h2> Map </h2>
<img src="/static/img/amstelcampus-map.jpg" alt="Map of the Amstelcampus">


<h2> Legend </h2>
<ul>
  <li>Dome: Koepeltent op het plein</li>
  <li>Dome2: Koepeltent op het plein</li>
  <li>AoA: Architects of Air met expositie</li>
  <li>Theatre 1	Tribune opstelling links</li>
  <li>Theatre 2	Tribune opstelling rechts</li>
  <li>Beyet: Projectietafel</li>
  <li>KSH: Kohnstamm Huis Arena</li>
  <li>Studio HvA:	HvA studio (DSS)</li>
  <li>Plein: Plein</li>
</ul>
