---
layout: layouts/detail
permalink: /program/
---

<h1> Program </h1>

<h2>Monday - 1th july</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Location</th>
    <th>Title</th>
  </tr>
    <tr>
      <td> {{schedule.monday.event1.time }} </td>
      <td> {{schedule.monday.event1.location }}</td>
      <td> {{schedule.monday.event1.title }}</td>
    </tr>
    <tr>
      <td> {{schedule.monday.event2.time }} </td>
      <td> {{schedule.monday.event2.location }}</td>
      <td> {{schedule.monday.event2.title }}</td>
    </tr>
    <tr>
      <td> {{schedule.monday.event3.time }} </td>
      <td> {{schedule.monday.event3.location }}</td>
      <td> {{schedule.monday.event3.title }}</td>
    </tr>
    <tr>
      <td> {{schedule.monday.event4.time }} </td>
      <td> {{schedule.monday.event4.location }}</td>
      <td> {{schedule.monday.event4.title }}</td>
    </tr>
</table>

<h2>Tuesday - 2th july</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Location</th>
    <th>Title</th>
    <th>Faculty</th>
  </tr>
    <tr>
      <td> {{schedule.tuesday.event1.time }} </td>
      <td> {{schedule.tuesday.event1.location }}</td>
      <td> {{schedule.tuesday.event1.title }}</td>
      <td> {{schedule.tuesday.event1.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event2.time }} </td>
      <td> {{schedule.tuesday.event2.location }}</td>
      <td> {{schedule.tuesday.event2.title }}</td>
      <td> {{schedule.tuesday.event2.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event3.time }} </td>
      <td> {{schedule.tuesday.event3.location }}</td>
      <td> {{schedule.tuesday.event3.title }}</td>
      <td> {{schedule.tuesday.event3.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event4.time }} </td>
      <td> {{schedule.tuesday.event4.location }}</td>
      <td> {{schedule.tuesday.event4.title }}</td>
      <td> {{schedule.tuesday.event4.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event5.time }} </td>
      <td> {{schedule.tuesday.event5.location }}</td>
      <td> {{schedule.tuesday.event5.title }}</td>
      <td> {{schedule.tuesday.event5.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event6.time }} </td>
      <td> {{schedule.tuesday.event6.location }}</td>
      <td> {{schedule.tuesday.event6.title }}</td>
      <td> {{schedule.tuesday.event6.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event7.time }} </td>
      <td> {{schedule.tuesday.event7.location }}</td>
      <td> {{schedule.tuesday.event7.title }}</td>
      <td> {{schedule.tuesday.event7.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event8.time }} </td>
      <td> {{schedule.tuesday.event8.location }}</td>
      <td> {{schedule.tuesday.event8.title }}</td>
      <td> {{schedule.tuesday.event8.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event9.time }} </td>
      <td> {{schedule.tuesday.event9.location }}</td>
      <td> {{schedule.tuesday.event9.title }}</td>
      <td> {{schedule.tuesday.event9.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event10.time }} </td>
      <td> {{schedule.tuesday.event10.location }}</td>
      <td> {{schedule.tuesday.event10.title }}</td>
      <td> {{schedule.tuesday.event10.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event11.time }} </td>
      <td> {{schedule.tuesday.event11.location }}</td>
      <td> {{schedule.tuesday.event11.title }}</td>
      <td> {{schedule.tuesday.event11.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event12.time }} </td>
      <td> {{schedule.tuesday.event12.location }}</td>
      <td> {{schedule.tuesday.event12.title }}</td>
      <td> {{schedule.tuesday.event12.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.tuesday.event13.time }} </td>
      <td> {{schedule.tuesday.event13.location }}</td>
      <td> {{schedule.tuesday.event13.title }}</td>
      <td> {{schedule.tuesday.event13.organisation }}</td>
    </tr>

    <tr>
      <td> {{schedule.tuesday.event14.time }} </td>
      <td> {{schedule.tuesday.event14.location }}</td>
      <td> {{schedule.tuesday.event14.title }}</td>
      <td> {{schedule.tuesday.event14.organisation }}</td>
    </tr>
</table>

<h2>Wednesday - 3th july</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Location</th>
    <th>Title</th>
    <th>Faculty</th>
  </tr>
    <tr>
      <td> {{schedule.wednesday.event1.time }} </td>
      <td> {{schedule.wednesday.event1.location }}</td>
      <td> {{schedule.wednesday.event1.title }}</td>
      <td> {{schedule.wednesday.event1.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event2.time }} </td>
      <td> {{schedule.wednesday.event2.location }}</td>
      <td> {{schedule.wednesday.event2.title }}</td>
      <td> {{schedule.wednesday.event2.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event3.time }} </td>
      <td> {{schedule.wednesday.event3.location }}</td>
      <td> {{schedule.wednesday.event3.title }}</td>
      <td> {{schedule.wednesday.event3.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event4.time }} </td>
      <td> {{schedule.wednesday.event4.location }}</td>
      <td> {{schedule.wednesday.event4.title }}</td>
      <td> {{schedule.wednesday.event4.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event5.time }} </td>
      <td> {{schedule.wednesday.event5.location }}</td>
      <td> {{schedule.wednesday.event5.title }}</td>
      <td> {{schedule.wednesday.event5.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event6.time }} </td>
      <td> {{schedule.wednesday.event6.location }}</td>
      <td> {{schedule.wednesday.event6.title }}</td>
      <td> {{schedule.wednesday.event6.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event7.time }} </td>
      <td> {{schedule.wednesday.event7.location }}</td>
      <td> {{schedule.wednesday.event7.title }}</td>
      <td> {{schedule.wednesday.event7.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event8.time }} </td>
      <td> {{schedule.wednesday.event8.location }}</td>
      <td> {{schedule.wednesday.event8.title }}</td>
      <td> {{schedule.wednesday.event8.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event9.time }} </td>
      <td> {{schedule.wednesday.event9.location }}</td>
      <td> {{schedule.wednesday.event9.title }}</td>
      <td> {{schedule.wednesday.event9.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.wednesday.event10.time }} </td>
      <td> {{schedule.wednesday.event10.location }}</td>
      <td> {{schedule.wednesday.event10.title }}</td>
      <td> {{schedule.wednesday.event10.organisation }}</td>
    </tr>
</table>

<h2>Thursday - 4th july</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Location</th>
    <th>Title</th>
    <th>Faculty</th>
  </tr>
    <tr>
      <td> {{schedule.thursday.event1.time }} </td>
      <td> {{schedule.thursday.event1.location }}</td>
      <td> {{schedule.thursday.event1.title }}</td>
      <td> {{schedule.thursday.event1.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event2.time }} </td>
      <td> {{schedule.thursday.event2.location }}</td>
      <td> {{schedule.thursday.event2.title }}</td>
      <td> {{schedule.thursday.event2.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event3.time }} </td>
      <td> {{schedule.thursday.event3.location }}</td>
      <td> {{schedule.thursday.event3.title }}</td>
      <td> {{schedule.thursday.event3.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event4.time }} </td>
      <td> {{schedule.thursday.event4.location }}</td>
      <td> {{schedule.thursday.event4.title }}</td>
      <td> {{schedule.thursday.event4.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event5.time }} </td>
      <td> {{schedule.thursday.event5.location }}</td>
      <td> {{schedule.thursday.event5.title }}</td>
      <td> {{schedule.thursday.event5.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event6.time }} </td>
      <td> {{schedule.thursday.event6.location }}</td>
      <td> {{schedule.thursday.event6.title }}</td>
      <td> {{schedule.thursday.event6.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event7.time }} </td>
      <td> {{schedule.thursday.event7.location }}</td>
      <td> {{schedule.thursday.event7.title }}</td>
      <td> {{schedule.thursday.event7.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event8.time }} </td>
      <td> {{schedule.thursday.event8.location }}</td>
      <td> {{schedule.thursday.event8.title }}</td>
      <td> {{schedule.thursday.event8.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event9.time }} </td>
      <td> {{schedule.thursday.event9.location }}</td>
      <td> {{schedule.thursday.event9.title }}</td>
      <td> {{schedule.thursday.event9.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event10.time }} </td>
      <td> {{schedule.thursday.event10.location }}</td>
      <td> {{schedule.thursday.event10.title }}</td>
      <td> {{schedule.thursday.event10.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event11.time }} </td>
      <td> {{schedule.thursday.event11.location }}</td>
      <td> {{schedule.thursday.event11.title }}</td>
      <td> {{schedule.thursday.event11.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event12.time }} </td>
      <td> {{schedule.thursday.event12.location }}</td>
      <td> {{schedule.thursday.event12.title }}</td>
      <td> {{schedule.thursday.event12.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event13.time }} </td>
      <td> {{schedule.thursday.event13.location }}</td>
      <td> {{schedule.thursday.event13.title }}</td>
      <td> {{schedule.thursday.event13.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event14.time }} </td>
      <td> {{schedule.thursday.event14.location }}</td>
      <td> {{schedule.thursday.event14.title }}</td>
      <td> {{schedule.thursday.event14.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event15.time }} </td>
      <td> {{schedule.thursday.event15.location }}</td>
      <td> {{schedule.thursday.event15.title }}</td>
      <td> {{schedule.thursday.event15.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.thursday.event16.time }} </td>
      <td> {{schedule.thursday.event16.location }}</td>
      <td> {{schedule.thursday.event16.title }}</td>
      <td> {{schedule.thursday.event16.organisation }}</td>
    </tr>
</table>

<h2>Friday - 5th july</h2>

<table>
  <tr>
    <th>Time</th>
    <th>Location</th>
    <th>Title</th>
    <th>Faculty</th>
  </tr>
    <tr>
      <td> {{schedule.friday.event1.time }} </td>
      <td> {{schedule.friday.event1.location }}</td>
      <td> {{schedule.friday.event1.title }}</td>
      <td> {{schedule.friday.event1.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event2.time }} </td>
      <td> {{schedule.friday.event2.location }}</td>
      <td> {{schedule.friday.event2.title }}</td>
      <td> {{schedule.friday.event2.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event3.time }} </td>
      <td> {{schedule.friday.event3.location }}</td>
      <td> {{schedule.friday.event3.title }}</td>
      <td> {{schedule.friday.event3.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event4.time }} </td>
      <td> {{schedule.friday.event4.location }}</td>
      <td> {{schedule.friday.event4.title }}</td>
      <td> {{schedule.friday.event4.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event5.time }} </td>
      <td> {{schedule.friday.event5.location }}</td>
      <td> {{schedule.friday.event5.title }}</td>
      <td> {{schedule.friday.event5.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event6.time }} </td>
      <td> {{schedule.friday.event6.location }}</td>
      <td> {{schedule.friday.event6.title }}</td>
      <td> {{schedule.friday.event6.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event7.time }} </td>
      <td> {{schedule.friday.event7.location }}</td>
      <td> {{schedule.friday.event7.title }}</td>
      <td> {{schedule.friday.event7.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event8.time }} </td>
      <td> {{schedule.friday.event8.location }}</td>
      <td> {{schedule.friday.event8.title }}</td>
      <td> {{schedule.friday.event8.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event9.time }} </td>
      <td> {{schedule.friday.event9.location }}</td>
      <td> {{schedule.friday.event9.title }}</td>
      <td> {{schedule.friday.event9.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event10.time }} </td>
      <td> {{schedule.friday.event10.location }}</td>
      <td> {{schedule.friday.event10.title }}</td>
      <td> {{schedule.friday.event10.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event11.time }} </td>
      <td> {{schedule.friday.event11.location }}</td>
      <td> {{schedule.friday.event11.title }}</td>
      <td> {{schedule.friday.event11.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event12.time }} </td>
      <td> {{schedule.friday.event12.location }}</td>
      <td> {{schedule.friday.event12.title }}</td>
      <td> {{schedule.friday.event12.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event13.time }} </td>
      <td> {{schedule.friday.event13.location }}</td>
      <td> {{schedule.friday.event13.title }}</td>
      <td> {{schedule.friday.event13.organisation }}</td>
    </tr>
    <tr>
      <td> {{schedule.friday.event14.time }} </td>
      <td> {{schedule.friday.event14.location }}</td>
      <td> {{schedule.friday.event14.title }}</td>
      <td> {{schedule.friday.event14.organisation }}</td>
    </tr>
</table>
