body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-bottom: 10vh;
  margin-top: 10vh;
}

header {
  grid-column: 2 / -2;
}

.showcase {
  grid-column: 1 / -1;
}

.info {
  grid-column: 2 / -4;
}

.contact {
  grid-column: 4 / -2;
}

.faq {
  grid-column: 2 / -2;
}

.locations {
  grid-column: 2 / -2;
}

section {
  grid-column: 2 / -2;
  margin: $p-l 0;
}

.container-block {
  padding: $p-l;
  width: 20vw;
  background: $secondary;
}
