<!doctype html>
<html lang="en" dir="ltr">
  <head>
    {% include 'config/meta.njk' %}
    {% include 'config/favicon.njk' %}
    {% include 'config/social.njk' %}
    {% include 'config/pre.njk' %}
    <title>{{ metadata.title }}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {{ content | safe }}
    {% include 'config/script.njk' %}
    <script src="/static/js/script.js" type="text/javascript"></script>
  </body>
</html>
